# Substituímos a hospedagem local pela hospedagem em nuvem por problemas técnicos. Substitua as informações entre colchetes pelas do seu respectivo banco para testar.

APP_ENV=development
SUPABASE_POSTGRES_URL=postgresql+psycopg://postgres:[PASSWORD]@[aws-0-sa-east-1.pooler.supabase.com:6543/postgres](https://aws-0-sa-east-1.pooler.supabase.com:6543/postgres)
MONGO_URL=mongodb+srv://[USER]:[PASSWORD]@cc6240-polyglot-persist.saadmuz.mongodb.net/?appName=cc6240-polyglot-persistence
REDIS_URL=redis://:[PASSWORD]@redis-18544.c302.sa-east-1-1.ec2.redislabs.com:18544

# App
app_env=development
app_host=0.0.0.0
app_port=8000
